.calc{
  width: 320px;
  margin: 100px;
}

body{
  padding-left: 30%;
  background-color: azure;
  padding: auto;
  
  }

#answer{

background-color: #e2e2e2;
padding: 10px;
font-size: 35px;
width: 280px;
height: 45px;
text-align: right;
border: 10px solid #333;

}

.button{

    background: black;
    height: 80px;
    width: 80px;
    color: white;
    font-size: 30px;
    border: 10px solid gray;
    float: left;

}

.button1{
  width: 160px;
}